{% extends "manager/manager_index.html" %}
{% load static %}
{% block content %}

<style>
    .edit-turf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.turf-form {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
}

.turf-image {
  width: 50%;
  background-image: url('turf-image.jpg');
  background-size: cover;
  background-position: center;
}

.turf-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.turf-form label {
  display: block;
  margin-bottom: 5px;
}

.turf-form input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.turf-form button {
  padding: 10px 20px;
  border: none;
  background-color: #e7a32e;
  color: white;
  cursor: pointer;
}

</style>
<div class="edit-turf">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center mb-4">Edit Turf</h1>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Turf_name">Turf Name</label>
                    <input value="{{edit_turf.Turf_name}}" type="text" name="Turf_name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Turf_price">Turf Price</label>
                    <input value="{{edit_turf.Turf_price}}" type="text" name="Turf_price" class="form-control">
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="Turf_address">Turf Address</label>
                <input value="{{edit_turf.Turf_address}}" type="text" name="Turf_address" class="form-control">
              </div>
              
              <div class="form-group">
                <label for="Turf_caption">Turf Caption</label>
                <textarea name="Turf_caption" class="form-control" cols="30" rows="5">{{edit_turf.Turf_caption}}</textarea>
              </div>
              <div class="form-group">
                <label for="Turf_image">Turf Image</label>
                {% if edit_turf.Turf_image %}
                  <img src="{{edit_turf.Turf_image.url}}" alt="{{edit_turf.Turf_image}}" class="img-fluid mb-3">
                {% endif %}
                <input accept="image/*" type="file" name="Turf_image" class="form-control-file">
              </div>
              <button type="submit" class="btn btn-primary">Update Turf</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
