{% extends "index.html" %}
{% load static %}
{% block content %}






{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" style="position: fixed; z-index: 90; right: 10px; top: 10px"
    role="alert">
    <strong>{{ message }} !!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<main id="main">
    <section id="contact" class="contact">
        <div class="signup-container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="text-center">Register As Manager</h3>
            </div>
            <form method="post" class="php-email-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id }}" class="col-md-3 col-form-label">{{ field.label }}</label>
                    <div class="col-md-9">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

                <h3 class="mt-4 text-muted">Your Profile Details</h3>
                <div class="row">
                    {% for fields in manager_form %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ fields.id }}">{{ fields.label }}</label>
                            {{ fields }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Register As a Manager</button>
                </div>
                <h5 class="text-end mt-4" style="color: rgb(50, 92, 7);"><a href="{% url 'managersignin' %}" class="text-muted" >Sign in As Manager</a></h5>
            </form>
        </div>
    </section>
</main>
{%endblock%}