{%load static%}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Builderz - Construction Company </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Construction Company Website Template" name="keywords">
    <meta content="Construction Company Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{%static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/slick/slick.css' %}" rel="stylesheet">
    <link href="{%static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="index.html">
                                <h2>Home Builderz</h2>
                                <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Opening Hour</h3>
                                        <p>Mon - Fri, 8:00 - 9:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Call Us</h3>
                                        <p>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-send-mail"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Email Us</h3>
                                        <p>info@example.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="{%url 'index' %}" class="nav-item nav-link active">Home</a>
                            <a href="{%url 'about' %}" class="nav-item nav-link">About</a>
                            <a href="{%url 'service' %}" class="nav-item nav-link">Service</a>


                            <a href="{%url 'contact' %}" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="ml-auto">
                            <a class="btn dropdown-item" href="{%url 'viewpage' %}">Back</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->
        {%block content%}

        <style>
            body {
                font-family: Arial, sans-serif;
            }

            h2 {
                color: #333;
            }

            table {
                width: 80%;
                border-collapse: collapse;

            }

            th,
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            #pay-button {
                background-color: rgb(203, 218, 252);
                color: rgb(32, 32, 77);
                border: none;
                border-radius: 5px;
                max-width: 200px;

            }
        </style>





        </head>

        <body>
            <h1 class="mt-5 display-5 text-capitalize text-center">
                <span class="text-primary text-center">Your Booking Details</span>
            </h1>
            <br><br>

            {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show"
                style="position: fixed;z-index: 90;right:100px;top:10px" role="alert">
                <strong>{{ error_message }} !!!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            {% if bookings %}
            <div class="container">
                <h3 class="text-secondary">Complete your payment through online</h3><br>
                <button id="pay-button" class="button btn btn-primary w-100 mt-2 razorpay">
                    <span>
                        <img src="{%static '/img/razorpay.png' %}" height="50px" width="50px" alt="" class="me-2"
                            style="margin-top: 10px;">
                        Pay Now
                    </span>
                </button>

            </div><br><br>
            <div class="container">
                <table class="table table-bordered table-striped table-responsive-md mx-auto">
                    <thead class="">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Payment status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.product.Product_name }}</td>
                            <td>{{ booking.game }}</td>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.quantity }}</td>
                            <td>{{ booking.address}}</td>
                            <td>{{ booking.phone_number }}</td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <br><br>

            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <!-- <script>
                var options = {
                    key: 'rzp_test_9tCOZuKLhiZdaM',
                    amount: 500, // Amount in paise (50000 paise = ₹500)
                    currency: 'INR',
                    name: 'Demo Store',
                    description: 'Payment for your order',
                    image: 'https://example.com/logo.png', // URL of your store's logo
                    order_id: '{{ razorpay_order_id }}', // Replace with your actual order ID
                    callback_url: '{{ callback_url }}', // Replace with your actual callback URL
                    prefill: {
                        name: 'student',
                        email: 'student@example.com'
                    }
                };

                var rzp = new Razorpay(options);

                document.getElementById('pay-button').onclick = function () {
                    rzp.open();
                };
            </script> -->

            {% else %}
            <h3 class="text-center">No bookings yet.</h3>
            {% endif %}


            {%endblock%}



            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Office Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>info@example.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Services Areas</h2>
                                <a href="">Building Construction</a>
                                <a href="">House Renovation</a>
                                <a href="">Architecture Design</a>
                                <a href="">Interior Design</a>
                                <a href="">Painting</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="">About Us</a>
                                <a href="">Contact Us</a>
                                <a href="">Our Team</a>
                                <a href="">Projects</a>
                                <a href="">Testimonial</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'lib/easing/easing.min.js' %}"></script>
    <script src="{%static 'lib/wow/wow.min.js' %}"></script>
    <script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{%static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{%static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{%static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{%static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{%static 'lib/slick/slick.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{%static 'js/main.js' %}"></script>
</body>

</html>