{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Builderz - Construction Company </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{%static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet"> 
        <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{%static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{%static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h2>Home Builderz</h2>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Opening Hour</h3>
                                            <p>Mon - Fri, 8:00 - 9:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Call Us</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>info@example.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="{%url 'index' %}" class="nav-item nav-link active">Home</a>
                                <a href="{%url 'about' %}" class="nav-item nav-link">About</a>
                                <a href="{%url 'service' %}" class="nav-item nav-link">Service</a>
                       
                                
                                <a href="{%url 'contact' %}" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" href="{%url 'signout' %}">Signout</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->

{%block content%}
<!-- Booking Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="py-5 px-4 px-sm-5" style="background-color: #fdbe33">
                    <form class="py-5">
                        
                        <div class="form-group">
                            <select class="custom-select border-0 px-4" id="locationSelect" style="height: 47px;">
                                <option selected>SELECT CATEGORY</option>
                                <option value="1"  data-url="{%url 'location_view' 'construction' %}" >CONSTRUCTING MATERIALS</option>
                                <option value="2"  data-url="{%url 'location_view' 'electricals' %}">ELECTRICALS</option>
                                <option value="3"  data-url="{%url 'location_view' 'plumbing' %}">PLUMBING MATERIALS</option>
                                <option value="4"  data-url="{%url 'location_view' 'interior' %}">INTERIOR MATERIALS</option>
                                <option value="5"  data-url="{%url 'location_view' 'paint' %}">PAINTINGS MATERIALS</option>
                                <option value="6"  data-url="{%url 'location_view' 'courtyard' %}">COURTYARD MATERIALS</option>
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-dark btn-block border-0 py-3" type="submit">SELECT CATEGORY</button>
                        </div>
                        
                        <script>
                            
                            const locationSelect = document.getElementById("locationSelect")
                            locationSelect.addEventListener("change", function () {
                                // Get the selected option
                                const selectedOption = locationSelect.options[locationSelect.selectedIndex];
                                const url = selectedOption.getAttribute("data-url");
                                
                                // Check if a valid URL is available
                                if (url) {
                                    // Redirect to the selected page
                                    window.location.href = url;
                                }
                            });
                        </script>
                        
                    </form>
                </div>
            </div>
            <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5 mt-5">
                <h4 class="text-secondary mb-3">let's make a dream home !!</h4>
                <h1 class="display-4 mb-4">Build  <span style="color: #fdbe33;">Your Dream</span></h1>
                <p>Labore vero lorem eos sed aliquy ipsum aliquy sed. Vero dolore dolore takima ipsum lorem rebum</p>
                <div class="row py-2">
                    <img src="{%static 'img/play.jpg' %}" height="300" alt="">
                    <!-- <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Pet Boarding</h5>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Pet Feeding</h5>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Pet Grooming</h5>
                            </div>
                            <p class="m-0">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Pet Tranning</h5>
                            </div>
                            <p class="m-0">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Booking Start -->
         
{%endblock%}
      <!-- Footer Start -->
      <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Office Contact</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Services Areas</h2>
                        <a href="">Building Construction</a>
                        <a href="">House Renovation</a>
                        <a href="">Architecture Design</a>
                        <a href="">Interior Design</a>
                        <a href="">Painting</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Useful Pages</h2>
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>
                        <a href="">Our Team</a>
                        <a href="">Projects</a>
                        <a href="">Testimonial</a>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{%static 'lib/easing/easing.min.js' %}"></script>
<script src="{%static 'lib/wow/wow.min.js' %}"></script>
<script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{%static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{%static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{%static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{%static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{%static 'lib/slick/slick.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{%static 'js/main.js' %}"></script>
</body>
</html>
